ops >= 1.4.0
sysprober == 0.1.2
git+https://github.com/j4m-can/hpct-ops.git
git+https://github.com/j4m-can/hpct-interfaces.git
git+https://github.com/j4m-can/hpct-editors.git
git+https://github.com/j4m-can/hpct-managers.git
